@import "~bootstrap/scss/bootstrap.scss";

.container {
    width: 80%;
    margin: 30px auto;
    padding: 30px;
}

h1 {
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 4px #000000;
}

// .list-container {
//     border: solid 1px rgb(148, 177, 238);
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
// }

input {
    border: none;
	border-bottom: solid 1px rgb(176, 159, 240);
	width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
}

input:focus {
    outline: none;
    transition: 0.1s;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border-bottom: solid 1px rgb(61, 31, 168);
    padding: 10px 20px;
}

span {
    opacity: 0;
    transition: 0.2s linear;
    float: right;
}

li:hover span {
	opacity: 1;
}